/* Browser reset styling: */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/************ End of reset styling. *******************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

.main_content {
  width: 100%; /* Side margin for all content. */
}

.main_banner {
  display: none;
}

.home-page-text {
  width: 100%;
}

.home_page_text h2 {
  padding: 30px 30px 20px; /* top left/right bottom*/
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block; /* display elements inline */
  float: left; /* gets rid of space between list items */
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: none; /* underline gone*/
  font-size: 14px;
  font-family: arial;
  color: #1e1e1e;
  padding: 0 20px; /* top-bottom side-side */
}

ul li a:hover {
  color: green;
}

/* Bad way to target a indv. element for styling: */
/*div h2 {*/
/*	color: green*/
/*}*/

/* Shouldn't really use ids for styling... */
/* #title {

} */
